
.icon-torso:before { content: '\e800'; } /* '' */
.icon-comment-alt:before { content: '\e801'; } /* '' */
.icon-cloud:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-noun-speech-recognition-2985137:before { content: '\e804'; } /* '' */
.icon-monitor:before { content: '\e805'; } /* '' */
.icon-mobile:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-graduation-cap:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
